<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Image search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
  <div class="wrapper">

    <div class="gallery">
        <div class="gallery__header">
            <h3>GALLERY</h3>
            
            <select id="search-field"></select>
            <input id="search-btn" type="button" value="SEARCH">
        </div>

        <br><br>
        <!--selected tags will be generated below-->
        <div id="tag-container" class="tags">
        </div>
        <br><br>
        <!--images returned by the search function will be generated below-->
        <div id="image-container" class="gallery__images"></div>     
    </div>

  </div>  
  </body>
  <script src="/static/scripts/search.js"></script>
</html>