<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Image</title>
    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var imgUrl = {{image|tojson|safe}};
    </script>
  </head>
  <body>
  <div class="wrapper">
    <div class="gallery">
        <a href="/">BACK</a>
        <br><br>
        <div class="image-content">
            
            <!--display image-->
            <img class="image-content__image" src="/static/images/{{ image }}">
          
            <!--display image details-->
            <div class="image-content__details">
                DETAILS<br>
                Path: {{image}}
            </div>

            <!--show tags related to the image-->
            <div class="image-content__tags" id="tag-container" style="display: inline;">
                <!--<div class="tag"><p>Nature</p></div>-->
            </div>

            <!--recommended images based on selected metric-->
            <div class="image-content__recs">
                <p>SIMILAR IMAGES</p>
                <div class="rec__tabs">
                    <div data-tab="category" class="rec__tab rec__tab--active">Category</div>
                    <div data-tab="colour" class="rec__tab">Colour scheme</div>
                    <div data-tab="combined" class="rec__tab">Combined</div>
                </div>
                
                <!--recommended images will be generated below-->
                <div id="rec-image-container" class="rec__images">
                </div>
            </div>

        </div>
        
    </div>
  </div>  
  </body>
  <!--<script src="/static/scripts/search.js"></script>-->
  <script src="/static/scripts/recommend.js"></script>
</html>