<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Links</title>
    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <br>
    <br>
    <div style="margin:20px">
    <a href="/image/00396dc1772e35aa.jpg">image1</a><br>
    <a href="/image/002855505c9ad780.jpg">image2</a><br>
    <a href="/image/006921b22379072b.jpg">image3</a><br>
    <a href="/image/001d8bf655bdba94.jpg">image4</a><br>
    <a href="/image/001dd6f5cbb0fc61.jpg">image5</a><br>
    </div>
  </body>
</html>
